* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: crimson;
	text-align: center;
	font-size: 35px;
	margin-top: 15px;
}

/* POSITION FOR ALL THE ELEMENTS */
.position-settings {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* INPUT MESSAGE */
.input-msg {
	font-size: 20px;
}

.message-place {
	top: 30%;
}

.btn-encrypt {
	top: 40%;
}

.btn-reset {
	top: 44%;
}

.btn-styling {
	cursor: pointer;
	border: none;
	padding: 5px 10px;
	border-radius: 6px;
	background-color: royalblue;
	color: #fff;
	transition: background-color 0.5s, box-shadow 0.5s;
}

.btn-styling:hover {
	background-color: gold;
	box-shadow: 0 0 5px gold;
	color: #000;
}

/* OUTPUT TEXT */
.display-output-text {
	top: 50%;
	font-weight: bold;
	color: white;

	text-align: center;
}

.output-container {
	background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

	font-weight: bold;
	height: 15vh;
	width: 100vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer p {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	top: 95%;
	color: #fff;
	font-weight: bold;

	white-space: nowrap;
}

/* Shift section */
.shift-sign {
	position: absolute;
	transform: translate((-50%, -50%));
	top: 33%;
	left: 20%;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

.key-holder {
	position: absolute;
	transform: translate((-50%, -50%));
	top: 33%;
	left: 50%;
	font-size: 16px;
	width: 10vw;
}

/* RWD */
@media (min-width: 250px) {
	.message-place {
		top: 20%;
	}

	.btn-encrypt {
		top: 43%;
	}

	.btn-reset {
		top: 50%;
	}

	.display-output-text {
		top: 50%;
		font-size: 20px;
	}

	.output-container {
		top: 65%;
	}
}

/* @media (min-width: 750px) {
	.btn-encrypt {
		top: 42%;
	}

	.btn-reset {
		top: 47%;
	}

	.display-output-text {
		top: 50%;
		font-size: 27px;
	}

	.output-container {
		top: 72%;
	}
}

@media (min-width: 1800px) {
	.btn-encrypt {
		top: 38%;
	}

	.btn-reset {
		top: 42%;
	}

	.display-output-text {
		top: 50%;
		font-size: 33px;
	}

	.output-container {
		top: 72%;
	}
} */
